@charset "utf-8";
.title1 {
    color: #EB100B;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}
.main1 {
    color: #140AF9;
}
.img  {
    -webkit-box-shadow: 20px 20px #DAD191;
    box-shadow: 20px 20px #DAD191;
}
